.projects-container{
  position:relative;
  margin:120px 0 0px;
  min-height:10vh
}
.projects-section {
  padding: 60px  45px;
  background-image: url("../../../src/assets/Projects/bg-1.jpg");
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 500;
  padding-top: 125px;
  padding-bottom:125px
}

.owl-dots {
  text-align: center
}

.card-img-top{
  height: 20vh;
  width: 100%;
}
.card-body{
  z-index: 500;
  height: 250px;
  width:100%;
  object-fit: cover;
}

.card-title{
  font-weight: bold;
}
